<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mehdibeggas.apibib_apresreunion" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="activity.Login"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="activity.ParametrageAlertes"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="activity.ParametresInitiaux"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="activity.Statistiques"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="activity.Indicateurs"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="activity.MenuNavigation"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <provider
            android:authorities="com.facebook.app.FacebookContentProvider1581461705448161"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
